.point {
	display: flex;
	justify-items: center;
	margin: 5px 0px;
	border: var(--input-border);
	height: 80px;
	border-radius: var(--input-border-radius);
}

.delete {
	position:fixed;
	align-self: flex-end;
	margin-bottom: 5px;
	margin-left: 5px;
}
