.panel {
	margin: 10px;
}

header {
	margin: 10px;
	margin-top: 15px;
}
.functions {
	flex: 80%;
	height: auto;
}

h1 {
	margin: 15px;
	margin-left: 40px;
	margin-bottom: 15px;
}

.navigation {
	margin-left: 50px;
}
