.main-div {
	display: flex;
	align-items: center;
}
.points-div {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.point {
	margin: 5px;
	width: 100%;
	border: 1px solid black;
	height: 60px;
	border-radius: 5px;
	display: flex;
	justify-items: center;
}
.button-reverse {
	margin: 10px;
	width: 40px;
	height: 40px;
}
.images-div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.image {
	margin: 5px;
	width: 24px;
	height: 24px;
}
.info {
	margin: 3px;
}
.point-to {
	flex: 70%;
}
.delete {
	align-self: center;
}
