.notification {
	width: 90%;
	height: 3rem;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 5%;
	align-items: center;
	color: white;
}

.notification h2,
.notification p {
	font-size: 1rem;
	margin: 0;
}

.error {
	color: rgb(187, 2, 2);
}

.success {
	color: green;
	opacity: 0.5;
}

.pending {
	color: #1a8ed1;
}
