.notification{
	height: 40px;
	background-color: rgb(243, 243, 243);
	width: 100%;
}
.section {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	margin: 0px 45px;
	margin-right: 45px;
	padding: 0.5rem 5%;
}

.notification h4 {
	font-size: 1rem;
	margin: 0px;
}

.error {
	color: rgb(187, 2, 2);
}

.success {
	color: green;
	opacity: 0.5;
}

.pending {
	color: #1a8ed1;
}
