.auth-panel {
	margin-left: var(--left-margin);
	margin-right: var(--right-margin);
	height: 100%;
}
.panel-button {
	display: flex;
	justify-content: right;
}
.control {
	margin-bottom: 0.5rem;
}

.control label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.control input {
	width: 100%;
	border-radius: var(--input-border-radius);
	border: var(--input-border);
	height: 25px;
	font-size: 14px;
	padding-left: 5px;
}
