.container {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-left: var(--left-margin);
	margin-right: calc(var(--right-margin) - 8px);
	border: var(--input-border);
	height: auto;
	border-radius: var(--input-border-radius);
}

