.container {
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	margin-left: 0;
	margin-right: calc(var(--right-margin) - 8px);
	border-bottom: var(--input-border);
	height: auto;
	width: 100%;

}