.body-container {
	display: flex;
	flex-direction: row;
}

.map {
	width: 100%;
	height: 100vh;
}

.leaflet-container {
	width: 100%;
	height: 100vh;
}

.leaflet-div-icon {
	background: transparent;
	border: none;
}

:root {
	--left-margin: 45px;
	--right-margin: 52px;
	--input-border-radius: 5px;
	--input-border: 1px solid black;
}
