.body-container {
	display: flex;
	flex-direction: row;
}

.map{
	width: 100%;
	height: 100vh;
}
/* .left-panel{
	width: 540px;
	height: 100vh;
} */

.leaflet-container {
	width: 100%;
	height: 100vh;
}

.leaflet-div-icon {
	background: transparent;
	border: none;
}
